{% load django_htmx %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'common/images/apple-touch-icon.png' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'common/images/favicon.ico' %}"/>
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'common/images/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'common/images/favicon-16x16.png' %}">
  {% include "common/bundle_snippet.html" with asset_name_ts="coldfront.ts" asset_name_js="coldfront.js" asset_name_css="coldfront.css" %}
  <link rel="manifest" href="{% static 'common/site.webmanifest' %}">
  <link rel="stylesheet" href="{% static 'common/css/common.css' %}">
  {% django_htmx_script %}

  <title>{% block title %}Welcome to ColdFront {% endblock %}</title>
</head>

<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
  {% include "su/is_su.html" %}
  <header>
    {% if user.is_authenticated %}
      {% include 'common/authorized_navbar.html' %}
    {% else %}
      {% include 'common/nonauthorized_navbar.html' %}
    {% endif %}
  </header>

  <!-- Begin page content -->
  <main class="container">
    {% include 'common/messages.html' %}
    {% block content %}
      Content goes here!
    {% endblock %}
  </main>

  {% include 'common/footer.html' %}
  {% block javascript %} {% endblock %}
</body>

</html>
