{% load static %}
<div class="table-responsive">
  <table id="resource-table" class="table table-bordered table-condensed table-hover datatable">
    <thead>
      <tr>
        <th scope="col">Resource Name (Type)</th>
        <th scope="col">Active Allocation Count</th>
      </tr>
    </thead>
    <tbody>
      {% for resource, resource_allocation_count in allocations_count_by_resource.items %}
        <tr>
          <td>{{resource.name}} <strong>({{resource.resource_type.name}})</strong></td>
          <td>{{resource_allocation_count}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
