/*
 * SPDX-FileCopyrightText: (C) ColdFront Authors
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@use 'overrides/fontawesome';
@use '~bootstrap/dist/css/bootstrap.min';
@use 'flatpickr/dist/flatpickr.min';
@use 'select2/dist/css/select2.min';

// Center summary only
@use 'centerSummary';

// Custom styles
@use 'custom/portal';
